table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
tr, td, th {
  border:rgb(190, 189, 189) 0.1em solid;
}
th {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
td {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.trois_cases{
  padding-top: 55px;
  padding-bottom: 55px;
}
.deux_cases{
  padding-top: 33px;
  padding-bottom: 33px;
}

abbr{
  cursor: help;
}